#### Importing Libraries

In [8]:
import pandas as pd

In [9]:
import os

#### Reading Files

In [10]:
df_state = pd.read_excel("C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/state_tax.xlsx")

In [11]:
df_state

        State        Tax_Type  Year  Rate Notes_On_Tax_Rate  Rate 2
0     Alabama  Restaurant Tax  1970   NaN               NaN     NaN
1     Alabama  Restaurant Tax  1971   NaN               NaN     NaN
2     Alabama  Restaurant Tax  1972   NaN               NaN     NaN
3     Alabama  Restaurant Tax  1973   NaN               NaN     NaN
4     Alabama  Restaurant Tax  1974   NaN               NaN     NaN
...       ...             ...   ...   ...               ...     ...
5295  Wyoming     Grocery Tax  2018   0.0               NaN     0.0
5296  Wyoming     Grocery Tax  2019   0.0               NaN     0.0
5297  Wyoming     Grocery Tax  2020   0.0               NaN     0.0
5298  Wyoming     Grocery Tax  2021   0.0               NaN     0.0
5299  Wyoming     Grocery Tax  2022   0.0               NaN     0.0

[5300 rows x 6 columns]

In [12]:
# Function to read and merge csv files in a folder to a dataframe
def merge_csv_files_in_folder(folder_path):
    # Create an empty list to store DataFrames
    dfs = []

    # Define the expected prefix of the filenames
    filename_prefix = "ObesityAtlas_CountyData_"

    # Iterate through the files in the folder
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv") and filename.startswith(filename_prefix):
            # Attempt to extract the year from the filename
            try:
                year = int(filename[len(filename_prefix):-4])
            except ValueError:
                # If the year extraction fails, skip the file
                print(f"Skipping file {filename} due to invalid year format.")
                continue
            
            file_path = os.path.join(folder_path, filename)
            
            # Determine the number of lines in the file
            with open(file_path) as f:
                num_lines = sum(1 for _ in f)
            
            # Read the CSV file, skipping the first two rows and the last row
            df = pd.read_csv(file_path, skiprows=2, skipfooter=1, engine='python')
            
            # Add a "Year" column with the extracted year
            df["Year"] = year
            
            # Append the DataFrame to the list
            dfs.append(df)

    # Concatenate all DataFrames into a single DataFrame
    if dfs:
        final_df = pd.concat(dfs, ignore_index=True)
        # print("Concatenation successful.")
        return final_df
    else:
        print("No CSV files matching the expected format found in the folder.")
        return None

Obesity Total

In [13]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Total' 
obese_county_absolute_total = merge_csv_files_in_folder(folder_path)

In [14]:
obese_county_absolute_total.rename(columns={'Number':'Total Absolute','Lower Limit':'Total Absolute LL',' Upper Limit':'Total Absolute UL'},inplace=True)

In [15]:
obese_county_absolute_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,616835,557950,689468,2020
53514,Maricopa County,Arizona,4013,966673,919796,1016906,2020
53515,Cook County,Illinois,17031,1045064,979808,1112244,2020
53516,Harris County,Texas,48201,1105623,1002635,1215994,2020
53517,Los Angeles County,California,6037,1955453,1800471,2116919,2020

In [16]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Total' 
obese_county_percentage_total = merge_csv_files_in_folder(folder_path)

In [17]:
obese_county_percentage_total.rename(columns={'Percentage':'Total Percentage','Lower Limit':'Total Percentage LL',' Upper Limit':'Total Percentage UL'},inplace=True)

In [18]:
obese_county_percentage_total

,County,State,CountyFIPS,Total Percentage,Total Percentage LL,Total Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Lincoln County,Oklahoma,40081,44,35.3,53.5,2020
53514,Boone County,West Virginia,54005,45.3,38,52.8,2020
53515,Maverick County,Texas,48323,45.8,38.1,53.4,2020
53516,Leflore County,Mississippi,28083,48.4,41.1,55.6,2020
53517,Rolette County,North Dakota,38079,48.4,42,55.7,2020

In [19]:
df_obese_total = pd.merge(obese_county_absolute_total, obese_county_percentage_total, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,616835,557950,689468,2020,24.3,22,27.2
53514,Maricopa County,Arizona,4013,966673,919796,1016906,2020,28.4,27,29.9
53515,Cook County,Illinois,17031,1045064,979808,1112244,2020,26.8,25.2,28.6
53516,Harris County,Texas,48201,1105623,1002635,1215994,2020,32.8,29.7,36.1
53517,Los Angeles County,California,6037,1955453,1800471,2116919,2020,25.7,23.7,27.9

Obesity Gender

In [20]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Gender/Male' 
obese_county_absolute_male = merge_csv_files_in_folder(folder_path)

In [21]:
obese_county_absolute_male.rename(columns={'Number':'Male Absolute','Lower Limit':'Male Absolute LL',' Upper Limit':'Male Absolute UL'},inplace=True)
obese_county_absolute_male

,County,State,CountyFIPS,Male Absolute,Male Absolute LL,Male Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,307595,269257,350967,2020
53514,Cook County,Illinois,17031,471083,428608,512926,2020
53515,Maricopa County,Arizona,4013,488217,453371,521171,2020
53516,Harris County,Texas,48201,525401,463188,589202,2020
53517,Los Angeles County,California,6037,926195,837596,1031977,2020

In [22]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Gender/Male' 
obese_county_percentage_male = merge_csv_files_in_folder(folder_path)

In [23]:
obese_county_percentage_male.rename(columns={'Percentage':'Male Percentage','Lower Limit':'Male Percentage LL',' Upper Limit':'Male Percentage UL'},inplace=True)
obese_county_percentage_male

,County,State,CountyFIPS,Male Percentage,Male Percentage LL,Male Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Logan County,West Virginia,54045,44.2,36.9,52.5,2020
53514,Lincoln County,Oklahoma,40081,44.8,35.1,55.2,2020
53515,Rolette County,North Dakota,38079,45.5,38,53.8,2020
53516,Maverick County,Texas,48323,46.2,37.2,55,2020
53517,Boone County,West Virginia,54005,47.3,38.7,55.9,2020

In [24]:
df_obese_male = pd.merge(obese_county_absolute_male, obese_county_percentage_male, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_male

,County,State,CountyFIPS,Male Absolute,Male Absolute LL,Male Absolute UL,Year,Male Percentage,Male Percentage LL,Male Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,307595,269257,350967,2020,24.2,21.2,27.6
53514,Cook County,Illinois,17031,471083,428608,512926,2020,25.3,23,27.5
53515,Maricopa County,Arizona,4013,488217,453371,521171,2020,29.4,27.3,31.4
53516,Harris County,Texas,48201,525401,463188,589202,2020,31.8,28,35.6
53517,Los Angeles County,California,6037,926195,837596,1031977,2020,25,22.6,27.9

In [25]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Gender/Female' 
obese_county_absolute_female = merge_csv_files_in_folder(folder_path)

In [26]:
obese_county_absolute_female.rename(columns={'Number':'Female Absolute','Lower Limit':'Female Absolute LL',' Upper Limit':'Female Absolute UL'},inplace=True)
obese_county_absolute_female

,County,State,CountyFIPS,Female Absolute,Female Absolute LL,Female Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Dallas County,Texas,48113,311238,267312,355036,2020
53514,Maricopa County,Arizona,4013,478457,446494,512838,2020
53515,Cook County,Illinois,17031,573981,530251,621887,2020
53516,Harris County,Texas,48201,580223,514206,651099,2020
53517,Los Angeles County,California,6037,1029258,925037,1133853,2020

In [27]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Gender/Female' 
obese_county_percentage_female = merge_csv_files_in_folder(folder_path)

In [28]:
obese_county_percentage_female.rename(columns={'Percentage':'Female Percentage','Lower Limit':'Female Percentage LL',' Upper Limit':'Female Percentage UL'},inplace=True)
obese_county_percentage_female

,County,State,CountyFIPS,Female Percentage,Female Percentage LL,Female Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Montgomery County,Alabama,1101,45.8,40.3,51.1,2020
53514,Robeson County,North Carolina,37155,45.9,40,52.2,2020
53515,Sunflower County,Mississippi,28133,46.8,38.6,55.1,2020
53516,Rolette County,North Dakota,38079,51.2,44.1,59.2,2020
53517,Leflore County,Mississippi,28083,52.2,44.3,59.8,2020

In [29]:
df_obese_female = pd.merge(obese_county_absolute_female, obese_county_percentage_female, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_female

,County,State,CountyFIPS,Female Absolute,Female Absolute LL,Female Absolute UL,Year,Female Percentage,Female Percentage LL,Female Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,Dallas County,Texas,48113,311238,267312,355036,2020,32,27.5,36.5
53514,Maricopa County,Arizona,4013,478457,446494,512838,2020,27.5,25.7,29.5
53515,Cook County,Illinois,17031,573981,530251,621887,2020,28.3,26.1,30.6
53516,Harris County,Texas,48201,580223,514206,651099,2020,33.8,29.9,37.9
53517,Los Angeles County,California,6037,1029258,925037,1133853,2020,26.4,23.8,29.1

Obesity Age

In [30]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Age/20_44' 
obese_county_absolute_age_20_to_44 = merge_csv_files_in_folder(folder_path)

In [31]:
obese_county_absolute_age_20_to_44.rename(columns={'Number':'Age_20_to_44 Absolute','Lower Limit':'Age_20_to_44 Absolute LL',' Upper Limit':'Age_20_to_44 Absolute UL'},inplace=True)
obese_county_absolute_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004
2,Arthur County,Nebraska,31005,17,12,25,2004
3,King County,Texas,48269,18,12,25,2004
4,Blaine County,Nebraska,31009,21,14,29,2004
...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,281916,236797,333281,2020
53396,Maricopa County,Arizona,4013,410282,374332,445153,2020
53397,Cook County,Illinois,17031,445411,403702,486611,2020
53398,Harris County,Texas,48201,508507,445911,574591,2020
53399,Los Angeles County,California,6037,817871,719884,923150,2020

In [32]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Age/20_44' 
obese_county_percentage_age_20_to_44 = merge_csv_files_in_folder(folder_path)

In [33]:
obese_county_percentage_age_20_to_44.rename(columns={'Percentage':'Age_20_to_44 Percentage','Lower Limit':'Age_20_to_44 Percentage LL',' Upper Limit':'Age_20_to_44 Percentage UL'},inplace=True)
obese_county_percentage_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Year
0,Teton County,Wyoming,56039,11.2,8.5,14.9,2004
1,Summit County,Utah,49043,11.5,8.9,14.4,2004
2,Boulder County,Colorado,8013,12.2,9.4,15.2,2004
3,Douglas County,Colorado,8035,12.3,9.2,15.8,2004
4,Blaine County,Idaho,16013,12.3,8.9,16.8,2004
...,...,...,...,...,...,...,...
53395,Boone County,West Virginia,54005,42.7,33.5,53.1,2020
53396,Robeson County,North Carolina,37155,43.6,36.9,50.1,2020
53397,Maverick County,Texas,48323,43.8,34.9,53.1,2020
53398,Leflore County,Mississippi,28083,47.5,38.7,55.9,2020
53399,Rolette County,North Dakota,38079,47.7,39.8,56.7,2020

In [34]:
df_obese_age_20_to_44 = pd.merge(obese_county_absolute_age_20_to_44, obese_county_percentage_age_20_to_44, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age_20_to_44 Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,17.5,11.8,24.1
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,18.2,12.7,25.2
2,Arthur County,Nebraska,31005,17,12,25,2004,16.8,11.6,24.5
3,King County,Texas,48269,18,12,25,2004,17.7,12.3,24.8
4,Blaine County,Nebraska,31009,21,14,29,2004,16.8,11.4,22.9
...,...,...,...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,281916,236797,333281,2020,28.7,24.1,33.9
53396,Maricopa County,Arizona,4013,410282,374332,445153,2020,26.1,23.8,28.3
53397,Cook County,Illinois,17031,445411,403702,486611,2020,24.1,21.8,26.3
53398,Harris County,Texas,48201,508507,445911,574591,2020,29.1,25.5,32.8
53399,Los Angeles County,California,6037,817871,719884,923150,2020,22.4,19.7,25.3

In [35]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Age/45_64' 
obese_county_absolute_age_45_to_64 = merge_csv_files_in_folder(folder_path)

In [36]:
obese_county_absolute_age_45_to_64.rename(columns={'Number':'Age_45_to_64 Absolute','Lower Limit':'Age_45_to_64 Absolute LL',' Upper Limit':'Age_45_to_64 Absolute UL'},inplace=True)
obese_county_absolute_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,Kalawao County,Hawaii,15005,14,10,19,2004
2,King County,Texas,48269,18,12,25,2004
3,Arthur County,Nebraska,31005,23,16,32,2004
4,Kenedy County,Texas,48261,24,17,33,2004
...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,236123,203776,268920,2020
53396,Maricopa County,Arizona,4013,372088,345895,398228,2020
53397,Cook County,Illinois,17031,391096,356820,425219,2020
53398,Harris County,Texas,48201,441893,391850,490758,2020
53399,Los Angeles County,California,6037,787052,709870,868158,2020

In [37]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Age/45_64' 
obese_county_percentage_age_45_to_64 = merge_csv_files_in_folder(folder_path)

In [38]:
obese_county_percentage_age_45_to_64.rename(columns={'Percentage':'Age_45_to_64 Percentage','Lower Limit':'Age_45_to_64 Percentage LL',' Upper Limit':'Age_20_to_44 Percentage UL'},inplace=True)
obese_county_percentage_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Year
0,Summit County,Utah,49043,13.2,10.4,16.0,2004
1,Teton County,Wyoming,56039,13.9,10.4,17.9,2004
2,Santa Fe County,New Mexico,35049,15.2,12.6,18.3,2004
3,Blaine County,Idaho,16013,15.7,11.4,20.9,2004
4,Boulder County,Colorado,8013,15.9,12.2,19.8,2004
...,...,...,...,...,...,...,...
53395,Boone County,West Virginia,54005,49.4,40.5,57.9,2020
53396,Logan County,West Virginia,54045,50.4,42.6,57.2,2020
53397,Maverick County,Texas,48323,50.9,41.9,61,2020
53398,Rolette County,North Dakota,38079,53,45.2,61.2,2020
53399,Leflore County,Mississippi,28083,54.2,45.8,62.1,2020

In [39]:
df_obese_age_45_to_64 = pd.merge(obese_county_absolute_age_45_to_64, obese_county_percentage_age_45_to_64, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age_45_to_64 Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,22.4,15.4,30.8
1,Kalawao County,Hawaii,15005,14,10,19,2004,22.4,16.1,29.9
2,King County,Texas,48269,18,12,25,2004,22.5,15.4,31.1
3,Arthur County,Nebraska,31005,23,16,32,2004,21.4,14.4,29.7
4,Kenedy County,Texas,48261,24,17,33,2004,22.9,15.9,30.6
...,...,...,...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,236123,203776,268920,2020,29.8,25.7,33.9
53396,Maricopa County,Arizona,4013,372088,345895,398228,2020,33.9,31.5,36.3
53397,Cook County,Illinois,17031,391096,356820,425219,2020,31.2,28.5,34
53398,Harris County,Texas,48201,441893,391850,490758,2020,40.5,35.9,45
53399,Los Angeles County,California,6037,787052,709870,868158,2020,31.4,28.3,34.6

In [40]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Absolute/Age/65_beyond' 
obese_county_absolute_age_65_to_beyond = merge_csv_files_in_folder(folder_path)

In [41]:
obese_county_absolute_age_65_to_beyond.rename(columns={'Number':'Age_65_to_beyond Absolute','Lower Limit':'Age_65_to_beyond Absolute LL',' Upper Limit':'Age_65_to_beyond Absolute UL'},inplace=True)
obese_county_absolute_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004
4,Yakutat City and Borough,Alaska,2282,Suppressed,Suppressed,Suppressed,2004
...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,112177,94776,132924,2020
53396,Harris County,Texas,48201,155223,133364,179024,2020
53397,Maricopa County,Arizona,4013,184304,170203,198880,2020
53398,Cook County,Illinois,17031,208557,187261,230636,2020
53399,Los Angeles County,California,6037,350530,309441,395823,2020

In [42]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Obesity_Percentage/Age/65_beyond' 
obese_county_percentage_age_65_to_beyond = merge_csv_files_in_folder(folder_path)

In [43]:
obese_county_percentage_age_65_to_beyond.rename(columns={'Percentage':'Age_65_to_beyond Percentage','Lower Limit':'Age_65_to_beyond Percentage LL',' Upper Limit':'Age_65_to_beyond Percentage UL'},inplace=True)
obese_county_percentage_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Year
0,Summit County,Utah,49043,10.1,7.7,12.8,2004
1,Teton County,Wyoming,56039,10.3,7.5,13.7,2004
2,Boulder County,Colorado,8013,10.9,8.0,14.4,2004
3,Blaine County,Idaho,16013,11.1,7.9,15.4,2004
4,Santa Fe County,New Mexico,35049,11.1,8.6,13.8,2004
...,...,...,...,...,...,...,...
53395,Lincoln County,Oklahoma,40081,41.7,31.5,52.3,2020
53396,Rolette County,North Dakota,38079,41.9,35.2,49.5,2020
53397,Leflore County,Mississippi,28083,42,34,50.2,2020
53398,Boone County,West Virginia,54005,43,33.7,52.6,2020
53399,Maverick County,Texas,48323,43.1,32.8,52.1,2020

In [44]:
df_obese_age_65_to_beyond = pd.merge(obese_county_absolute_age_65_to_beyond, obese_county_percentage_age_65_to_beyond, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_obese_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age_65_to_beyond Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,15.5,10.0,22.0
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,14.3,9.8,20.9
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,15.8,10.9,22.8
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004,15.8,10.3,22.8
4,Yakutat City and Borough,Alaska,2282,Suppressed,Suppressed,Suppressed,2004,15.6,10.5,21.5
...,...,...,...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,112177,94776,132924,2020,22.6,19.1,26.8
53396,Harris County,Texas,48201,155223,133364,179024,2020,29.2,25.1,33.6
53397,Maricopa County,Arizona,4013,184304,170203,198880,2020,25.3,23.3,27.3
53398,Cook County,Illinois,17031,208557,187261,230636,2020,26.3,23.6,29.1
53399,Los Angeles County,California,6037,350530,309441,395823,2020,24.3,21.4,27.4

#### Data Preprocessing

In [45]:
# Finalizing state dataframe by filtering on years from 2000
df_state = df_state[df_state['Year']>=2000]

In [46]:
# Checking for missing rate for states
missing_rate = df_state[df_state['Rate'].isnull()]
missing_rate

Empty DataFrame
Columns: [State, Tax_Type, Year, Rate, Notes_On_Tax_Rate, Rate 2]
Index: []

In [47]:
# Finalizing Obesity county total dataframe
df_obese_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,616835,557950,689468,2020,24.3,22,27.2
53514,Maricopa County,Arizona,4013,966673,919796,1016906,2020,28.4,27,29.9
53515,Cook County,Illinois,17031,1045064,979808,1112244,2020,26.8,25.2,28.6
53516,Harris County,Texas,48201,1105623,1002635,1215994,2020,32.8,29.7,36.1
53517,Los Angeles County,California,6037,1955453,1800471,2116919,2020,25.7,23.7,27.9

In [48]:
# Checking for No data in Obesity county total
missing_obese_county_total = df_obese_total[(df_obese_total['Total Absolute'] == 'No Data') | (df_obese_total['Total Percentage'] == 'No Data')]
missing_obese_county_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data

In [49]:
# Finalizing Obesity county male dataframe
df_obese_male['Gender'] = 'Male'
df_obese_male.rename(columns={'Male Absolute':'Gender Absolute','Male Percentage':'Gender Percentage'},inplace=True)
df_obese_male

,County,State,CountyFIPS,Gender Absolute,Male Absolute LL,Male Absolute UL,Year,Gender Percentage,Male Percentage LL,Male Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
...,...,...,...,...,...,...,...,...,...,...,...
53513,San Diego County,California,6073,307595,269257,350967,2020,24.2,21.2,27.6,Male
53514,Cook County,Illinois,17031,471083,428608,512926,2020,25.3,23,27.5,Male
53515,Maricopa County,Arizona,4013,488217,453371,521171,2020,29.4,27.3,31.4,Male
53516,Harris County,Texas,48201,525401,463188,589202,2020,31.8,28,35.6,Male
53517,Los Angeles County,California,6037,926195,837596,1031977,2020,25,22.6,27.9,Male

In [50]:
# Checking for No data in Obesity county male
missing_obese_county_male = df_obese_male[(df_obese_male['Gender Absolute']=='No Data')|(df_obese_male['Gender Percentage']=='No Data')]
missing_obese_county_male

,County,State,CountyFIPS,Gender Absolute,Male Absolute LL,Male Absolute UL,Year,Gender Percentage,Male Percentage LL,Male Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
...,...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male

In [51]:
# Finalizing Obesity county female dataframe
df_obese_female['Gender'] = 'Female'
df_obese_female.rename(columns={'Female Absolute':'Gender Absolute','Female Percentage':'Gender Percentage'},inplace=True)
df_obese_female

,County,State,CountyFIPS,Gender Absolute,Female Absolute LL,Female Absolute UL,Year,Gender Percentage,Female Percentage LL,Female Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
...,...,...,...,...,...,...,...,...,...,...,...
53513,Dallas County,Texas,48113,311238,267312,355036,2020,32,27.5,36.5,Female
53514,Maricopa County,Arizona,4013,478457,446494,512838,2020,27.5,25.7,29.5,Female
53515,Cook County,Illinois,17031,573981,530251,621887,2020,28.3,26.1,30.6,Female
53516,Harris County,Texas,48201,580223,514206,651099,2020,33.8,29.9,37.9,Female
53517,Los Angeles County,California,6037,1029258,925037,1133853,2020,26.4,23.8,29.1,Female

In [52]:
# Checking for No data in Obesity county female
missing_obese_county_female = df_obese_female[(df_obese_female['Gender Absolute']=='No Data')|(df_obese_female['Gender Percentage']=='No Data')]
missing_obese_county_female

,County,State,CountyFIPS,Gender Absolute,Female Absolute LL,Female Absolute UL,Year,Gender Percentage,Female Percentage LL,Female Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
...,...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female

In [53]:
#Creating Gender Dataframe
obese_county_gender = pd.concat([df_obese_male,df_obese_female],axis=0)
obese_county_gender

,County,State,CountyFIPS,Gender Absolute,Male Absolute LL,Male Absolute UL,Year,Gender Percentage,Male Percentage LL,Male Percentage UL,Gender,Female Absolute LL,Female Absolute UL,Female Percentage LL,Female Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53513,Dallas County,Texas,48113,311238,NaN,NaN,2020,32,NaN,NaN,Female,267312,355036,27.5,36.5
53514,Maricopa County,Arizona,4013,478457,NaN,NaN,2020,27.5,NaN,NaN,Female,446494,512838,25.7,29.5
53515,Cook County,Illinois,17031,573981,NaN,NaN,2020,28.3,NaN,NaN,Female,530251,621887,26.1,30.6
53516,Harris County,Texas,48201,580223,NaN,NaN,2020,33.8,NaN,NaN,Female,514206,651099,29.9,37.9
53517,Los Angeles County,California,6037,1029258,NaN,NaN,2020,26.4,NaN,NaN,Female,925037,1133853,23.8,29.1

In [54]:
# Finalizing Obesity county age 20 to 44 dataframe
df_obese_age_20_to_44 = df_obese_age_20_to_44.rename(columns={'Age_20_to_44 Absolute':'Age Obesity Absolute','Age_20_to_44 Percentage':'Age Obesity Percentage' })
df_obese_age_20_to_44['Age'] = '20-44'
df_obese_age_20_to_44

,County,State,CountyFIPS,Age Obesity Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Obesity Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,17.5,11.8,24.1,20-44
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,18.2,12.7,25.2,20-44
2,Arthur County,Nebraska,31005,17,12,25,2004,16.8,11.6,24.5,20-44
3,King County,Texas,48269,18,12,25,2004,17.7,12.3,24.8,20-44
4,Blaine County,Nebraska,31009,21,14,29,2004,16.8,11.4,22.9,20-44
...,...,...,...,...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,281916,236797,333281,2020,28.7,24.1,33.9,20-44
53396,Maricopa County,Arizona,4013,410282,374332,445153,2020,26.1,23.8,28.3,20-44
53397,Cook County,Illinois,17031,445411,403702,486611,2020,24.1,21.8,26.3,20-44
53398,Harris County,Texas,48201,508507,445911,574591,2020,29.1,25.5,32.8,20-44
53399,Los Angeles County,California,6037,817871,719884,923150,2020,22.4,19.7,25.3,20-44

In [55]:
# Checking for No data in Obesity county age 20 to 44
missing_df_obese_age_20_to_44 = df_obese_age_20_to_44[(df_obese_age_20_to_44['Age Obesity Absolute']=='No Data') | (df_obese_age_20_to_44['Age Obesity Percentage']=='No Data')]
missing_df_obese_age_20_to_44

,County,State,CountyFIPS,Age Obesity Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Obesity Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44

In [56]:
# Finalizing Obesity county age 45 to 64 dataframe
df_obese_age_45_to_64 = df_obese_age_45_to_64.rename(columns={'Age_45_to_64 Absolute':'Age Obesity Absolute','Age_45_to_64 Percentage':'Age Obesity Percentage' })
df_obese_age_45_to_64['Age'] = '45-64'
df_obese_age_45_to_64

,County,State,CountyFIPS,Age Obesity Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age Obesity Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,22.4,15.4,30.8,45-64
1,Kalawao County,Hawaii,15005,14,10,19,2004,22.4,16.1,29.9,45-64
2,King County,Texas,48269,18,12,25,2004,22.5,15.4,31.1,45-64
3,Arthur County,Nebraska,31005,23,16,32,2004,21.4,14.4,29.7,45-64
4,Kenedy County,Texas,48261,24,17,33,2004,22.9,15.9,30.6,45-64
...,...,...,...,...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,236123,203776,268920,2020,29.8,25.7,33.9,45-64
53396,Maricopa County,Arizona,4013,372088,345895,398228,2020,33.9,31.5,36.3,45-64
53397,Cook County,Illinois,17031,391096,356820,425219,2020,31.2,28.5,34,45-64
53398,Harris County,Texas,48201,441893,391850,490758,2020,40.5,35.9,45,45-64
53399,Los Angeles County,California,6037,787052,709870,868158,2020,31.4,28.3,34.6,45-64

In [57]:
# Checking for No data in Obesity county age 45 to 64
missing_df_obese_age_45_to_64 = df_obese_age_45_to_64[(df_obese_age_45_to_64['Age Obesity Absolute']=='No Data') | (df_obese_age_45_to_64['Age Obesity Percentage']=='No Data')]
missing_df_obese_age_45_to_64

,County,State,CountyFIPS,Age Obesity Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age Obesity Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Age
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64

In [58]:
# Finalizing Obesity county age 65 to beyond dataframe
df_obese_age_65_to_beyond = df_obese_age_65_to_beyond.rename(columns={'Age_65_to_beyond Absolute':'Age Obesity Absolute','Age_65_to_beyond Percentage':'Age Obesity Percentage' })
df_obese_age_65_to_beyond['Age'] = '65-beyond'
df_obese_age_65_to_beyond

,County,State,CountyFIPS,Age Obesity Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age Obesity Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,15.5,10.0,22.0,65-beyond
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,14.3,9.8,20.9,65-beyond
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,15.8,10.9,22.8,65-beyond
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004,15.8,10.3,22.8,65-beyond
4,Yakutat City and Borough,Alaska,2282,Suppressed,Suppressed,Suppressed,2004,15.6,10.5,21.5,65-beyond
...,...,...,...,...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,112177,94776,132924,2020,22.6,19.1,26.8,65-beyond
53396,Harris County,Texas,48201,155223,133364,179024,2020,29.2,25.1,33.6,65-beyond
53397,Maricopa County,Arizona,4013,184304,170203,198880,2020,25.3,23.3,27.3,65-beyond
53398,Cook County,Illinois,17031,208557,187261,230636,2020,26.3,23.6,29.1,65-beyond
53399,Los Angeles County,California,6037,350530,309441,395823,2020,24.3,21.4,27.4,65-beyond

In [59]:
# Checking for No data in Obesity county age 65 to beyond
missing_df_obese_age_65_to_beyond = df_obese_age_65_to_beyond[(df_obese_age_65_to_beyond['Age Obesity Absolute']=='No Data') | (df_obese_age_65_to_beyond['Age Obesity Percentage']=='No Data')]
missing_df_obese_age_65_to_beyond

,County,State,CountyFIPS,Age Obesity Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age Obesity Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Age
15705,Kalawao County,Hawaii,15005,0,0,0,2009,No Data,No Data,No Data,65-beyond
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond

In [60]:
#Creating Age Dataframe
obese_county_age = pd.concat([df_obese_age_20_to_44,df_obese_age_45_to_64,df_obese_age_65_to_beyond],axis=0)
obese_county_age

,County,State,CountyFIPS,Age Obesity Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Obesity Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Age_45_to_64 Percentage LL,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,17.5,11.8,24.1,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,18.2,12.7,25.2,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arthur County,Nebraska,31005,17,12,25,2004,16.8,11.6,24.5,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,King County,Texas,48269,18,12,25,2004,17.7,12.3,24.8,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blaine County,Nebraska,31009,21,14,29,2004,16.8,11.4,22.9,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53395,San Diego County,California,6073,112177,NaN,NaN,2020,22.6,NaN,NaN,65-beyond,NaN,NaN,NaN,94776,132924,19.1,26.8
53396,Harris County,Texas,48201,155223,NaN,NaN,2020,29.2,NaN,NaN,65-beyond,NaN,NaN,NaN,133364,179024,25.1,33.6
53397,Maricopa County,Arizona,4013,184304,NaN,NaN,2020,25.3,NaN,NaN,65-beyond,NaN,NaN,NaN,170203,198880,23.3,27.3
53398,Cook County,Illinois,17031,208557,NaN,NaN,2020,26.3,NaN,NaN,65-beyond,NaN,NaN,NaN,187261,230636,23.6,29.1
53399,Los Angeles County,California,6037,350530,NaN,NaN,2020,24.3,NaN,NaN,65-beyond,NaN,NaN,NaN,309441,395823,21.4,27.4

In [61]:
# Finalizing Total County Dataframe and then mergining it with state tax data frame
obese_county_data = df_obese_total.merge(obese_county_gender, on=['State','County','CountyFIPS','Year'], how='inner').merge(obese_county_age, on=['State','County','CountyFIPS','Year'], how='inner').sort_values(by=['State','County','CountyFIPS','Year']).reset_index(drop=True)
obese_county_data = obese_county_data.merge(df_state, how = 'inner', on=['State','Year'])
obese_county_data

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL,...,Age_45_to_64 Absolute UL,Age_45_to_64 Percentage LL,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Tax_Type,Rate,Notes_On_Tax_Rate,Rate 2
0,Autauga County,Alabama,1001,7213,5224,9329,2004,21.9,15.8,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
1,Autauga County,Alabama,1001,7213,5224,9329,2004,21.9,15.8,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,Grocery Tax,0.04,NaN,0.04
2,Autauga County,Alabama,1001,7213,5224,9329,2004,21.9,15.8,28.3,...,3784,18.2,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
3,Autauga County,Alabama,1001,7213,5224,9329,2004,21.9,15.8,28.3,...,3784,18.2,NaN,NaN,NaN,NaN,Grocery Tax,0.04,NaN,0.04
4,Autauga County,Alabama,1001,7213,5224,9329,2004,21.9,15.8,28.3,...,NaN,NaN,622,1221,12.4,24.2,Restaurant Tax,0.04,NaN,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640591,Weston County,Wyoming,56045,1659,1340,2001,2020,31.5,25.5,38,...,NaN,NaN,NaN,NaN,NaN,NaN,Grocery Tax,0.00,NaN,0.00
640592,Weston County,Wyoming,56045,1659,1340,2001,2020,31.5,25.5,38,...,846,28.8,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
640593,Weston County,Wyoming,56045,1659,1340,2001,2020,31.5,25.5,38,...,846,28.8,NaN,NaN,NaN,NaN,Grocery Tax,0.00,NaN,0.00
640594,Weston County,Wyoming,56045,1659,1340,2001,2020,31.5,25.5,38,...,NaN,NaN,322,517,21.3,34.1,Restaurant Tax,0.04,NaN,0.04
640595,Weston County,Wyoming,56045,1659,1340,2001,2020,31.5,25.5,38,...,NaN,NaN,322,517,21.3,34.1,Grocery Tax,0.00,NaN,0.00

In [62]:
obese_county_data.to_excel('obese_County_Data_New.xlsx',index=False)