#### Importing Libraries

In [20]:
import pandas as pd

In [21]:
import os

#### Reading Files

In [22]:
df_state = pd.read_excel("C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/state_tax.xlsx")

In [23]:
df_state

        State        Tax_Type  Year  Rate Notes_On_Tax_Rate  Rate 2
0     Alabama  Restaurant Tax  1970   NaN               NaN     NaN
1     Alabama  Restaurant Tax  1971   NaN               NaN     NaN
2     Alabama  Restaurant Tax  1972   NaN               NaN     NaN
3     Alabama  Restaurant Tax  1973   NaN               NaN     NaN
4     Alabama  Restaurant Tax  1974   NaN               NaN     NaN
...       ...             ...   ...   ...               ...     ...
5295  Wyoming     Grocery Tax  2018   0.0               NaN     0.0
5296  Wyoming     Grocery Tax  2019   0.0               NaN     0.0
5297  Wyoming     Grocery Tax  2020   0.0               NaN     0.0
5298  Wyoming     Grocery Tax  2021   0.0               NaN     0.0
5299  Wyoming     Grocery Tax  2022   0.0               NaN     0.0

[5300 rows x 6 columns]

In [24]:
# Function to read and merge csv files in a folder to a dataframe
def merge_csv_files_in_folder(folder_path):
    # Create an empty list to store DataFrames
    dfs = []

    # Define the expected prefix of the filenames
    filename_prefix = "DiabetesAtlas_CountyData_"

    # Iterate through the files in the folder
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv") and filename.startswith(filename_prefix):
            # Attempt to extract the year from the filename
            try:
                year = int(filename[len(filename_prefix):-4])
            except ValueError:
                # If the year extraction fails, skip the file
                print(f"Skipping file {filename} due to invalid year format.")
                continue
            
            file_path = os.path.join(folder_path, filename)
            
            # Determine the number of lines in the file
            with open(file_path) as f:
                num_lines = sum(1 for _ in f)
            
            # Read the CSV file, skipping the first two rows and the last row
            df = pd.read_csv(file_path, skiprows=2, skipfooter=1, engine='python')
            
            # Add a "Year" column with the extracted year
            df["Year"] = year
            
            # Append the DataFrame to the list
            dfs.append(df)

    # Concatenate all DataFrames into a single DataFrame
    if dfs:
        final_df = pd.concat(dfs, ignore_index=True)
        # print("Concatenation successful.")
        return final_df
    else:
        print("No CSV files matching the expected format found in the folder.")
        return None

Diabetics Total

In [25]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Total' 
diab_county_absolute_total = merge_csv_files_in_folder(folder_path)

In [26]:
diab_county_absolute_total.rename(columns={'Number':'Total Absolute','Lower Limit':'Total Absolute LL',' Upper Limit':'Total Absolute UL'},inplace=True)

In [27]:
diab_county_absolute_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Orange County,California,6059,229478,190979,268887,2020
53514,Maricopa County,Arizona,4013,316605,290564,342004,2020
53515,Harris County,Texas,48201,344811,293038,397767,2020
53516,Cook County,Illinois,17031,356695,319479,393558,2020
53517,Los Angeles County,California,6037,711790,638898,782936,2020

In [28]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Total' 
diab_county_percentage_total = merge_csv_files_in_folder(folder_path)

In [29]:
diab_county_percentage_total.rename(columns={'Percentage':'Total Percentage','Lower Limit':'Total Percentage LL',' Upper Limit':'Total Percentage UL'},inplace=True)

In [30]:
diab_county_percentage_total

,County,State,CountyFIPS,Total Percentage,Total Percentage LL,Total Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Boone County,West Virginia,54005,18,13.9,22.9,2020
53514,Morgan County,Indiana,18109,18.1,14.4,22.3,2020
53515,Gadsden County,Florida,12039,18.9,14.6,23.6,2020
53516,Fayette County,West Virginia,54019,19.1,15,23.5,2020
53517,Williamsburg County,South Carolina,45089,20,16.3,24.4,2020

In [31]:
df_diab_total = pd.merge(diab_county_absolute_total, diab_county_percentage_total, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,229478,190979,268887,2020,9.5,7.9,11.2
53514,Maricopa County,Arizona,4013,316605,290564,342004,2020,9.3,8.5,10.1
53515,Harris County,Texas,48201,344811,293038,397767,2020,10.2,8.7,11.8
53516,Cook County,Illinois,17031,356695,319479,393558,2020,9.2,8.2,10.1
53517,Los Angeles County,California,6037,711790,638898,782936,2020,9.4,8.4,10.3

Diabetics Gender

In [32]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Gender/Male' 
diab_county_absolute_male = merge_csv_files_in_folder(folder_path)

In [33]:
diab_county_absolute_male.rename(columns={'Number':'Male Absolute','Lower Limit':'Male Absolute LL',' Upper Limit':'Male Absolute UL'},inplace=True)
diab_county_absolute_male

,County,State,CountyFIPS,Male Absolute,Male Absolute LL,Male Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Orange County,California,6059,113069,91507,136766,2020
53514,Maricopa County,Arizona,4013,168960,151763,188024,2020
53515,Harris County,Texas,48201,170828,142432,203088,2020
53516,Cook County,Illinois,17031,171199,147904,194026,2020
53517,Los Angeles County,California,6037,362228,315253,413460,2020

In [34]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Gender/Male' 
diab_county_percentage_male = merge_csv_files_in_folder(folder_path)

In [35]:
diab_county_percentage_male.rename(columns={'Percentage':'Male Percentage','Lower Limit':'Male Percentage LL',' Upper Limit':'Male Percentage UL'},inplace=True)
diab_county_percentage_male

,County,State,CountyFIPS,Male Percentage,Male Percentage LL,Male Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Williamsburg County,South Carolina,45089,18.7,14.7,24,2020
53514,Gadsden County,Florida,12039,18.8,14.2,24.3,2020
53515,Mcdowell County,West Virginia,54047,18.8,13.1,25.3,2020
53516,Boone County,West Virginia,54005,19.4,14.5,25.1,2020
53517,Fayette County,West Virginia,54019,20,15.5,25.1,2020

In [36]:
df_diab_male = pd.merge(diab_county_absolute_male, diab_county_percentage_male, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_male

,County,State,CountyFIPS,Male Absolute,Male Absolute LL,Male Absolute UL,Year,Male Percentage,Male Percentage LL,Male Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,113069,91507,136766,2020,9.6,7.8,11.7
53514,Maricopa County,Arizona,4013,168960,151763,188024,2020,10.2,9.1,11.3
53515,Harris County,Texas,48201,170828,142432,203088,2020,10.3,8.6,12.3
53516,Cook County,Illinois,17031,171199,147904,194026,2020,9.2,7.9,10.4
53517,Los Angeles County,California,6037,362228,315253,413460,2020,9.8,8.5,11.2

In [37]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Gender/Female' 
diab_county_absolute_female = merge_csv_files_in_folder(folder_path)

In [38]:
diab_county_absolute_female.rename(columns={'Number':'Female Absolute','Lower Limit':'Female Absolute LL',' Upper Limit':'Female Absolute UL'},inplace=True)
diab_county_absolute_female

,County,State,CountyFIPS,Female Absolute,Female Absolute LL,Female Absolute UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Orange County,California,6059,116409,93048,141063,2020
53514,Maricopa County,Arizona,4013,147645,131312,163748,2020
53515,Harris County,Texas,48201,173983,145362,207103,2020
53516,Cook County,Illinois,17031,185496,162531,209877,2020
53517,Los Angeles County,California,6037,349562,305372,398271,2020

In [39]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Gender/Female' 
diab_county_percentage_female = merge_csv_files_in_folder(folder_path)

In [40]:
diab_county_percentage_female.rename(columns={'Percentage':'Female Percentage','Lower Limit':'Female Percentage LL',' Upper Limit':'Female Percentage UL'},inplace=True)
diab_county_percentage_female

,County,State,CountyFIPS,Female Percentage,Female Percentage LL,Female Percentage UL,Year
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004
...,...,...,...,...,...,...,...
53513,Jefferson County,Arkansas,5069,18.1,14.7,21.7,2020
53514,Rolette County,North Dakota,38079,18.1,13.8,22.8,2020
53515,Fayette County,West Virginia,54019,18.3,13.7,22.8,2020
53516,Gadsden County,Florida,12039,19,14.5,24,2020
53517,Williamsburg County,South Carolina,45089,21.2,17,25.6,2020

In [41]:
df_diab_female = pd.merge(diab_county_absolute_female, diab_county_percentage_female, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_female

,County,State,CountyFIPS,Female Absolute,Female Absolute LL,Female Absolute UL,Year,Female Percentage,Female Percentage LL,Female Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,116409,93048,141063,2020,9.4,7.5,11.4
53514,Maricopa County,Arizona,4013,147645,131312,163748,2020,8.5,7.5,9.4
53515,Harris County,Texas,48201,173983,145362,207103,2020,10.1,8.5,12.1
53516,Cook County,Illinois,17031,185496,162531,209877,2020,9.1,8,10.3
53517,Los Angeles County,California,6037,349562,305372,398271,2020,9,7.8,10.2

Diabetics Age

In [42]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Age/20_44' 
diab_county_absolute_age_20_to_44 = merge_csv_files_in_folder(folder_path)

In [43]:
diab_county_absolute_age_20_to_44.rename(columns={'Number':'Age_20_to_44 Absolute','Lower Limit':'Age_20_to_44 Absolute LL',' Upper Limit':'Age_20_to_44 Absolute UL'},inplace=True)
diab_county_absolute_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004
2,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004
3,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004
4,Petroleum County,Montana,30069,Suppressed,Suppressed,Suppressed,2004
...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,30512,22614,39753,2020
53396,Cook County,Illinois,17031,47667,37812,58439,2020
53397,Maricopa County,Arizona,4013,47905,39049,58373,2020
53398,Harris County,Texas,48201,58850,43784,75007,2020
53399,Los Angeles County,California,6037,100133,78557,122597,2020

In [44]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Age/20_44' 
diab_county_percentage_age_20_to_44 = merge_csv_files_in_folder(folder_path)

In [45]:
diab_county_percentage_age_20_to_44.rename(columns={'Percentage':'Age_20_to_44 Percentage','Lower Limit':'Age_20_to_44 Percentage LL',' Upper Limit':'Age_20_to_44 Percentage UL'},inplace=True)
diab_county_percentage_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Year
0,Santa Fe County,New Mexico,35049,1.6,1.2,2.1,2004
1,Summit County,Utah,49043,1.6,1.1,2.1,2004
2,San Juan County,Washington,53055,1.6,1.2,2.2,2004
3,Boulder County,Colorado,8013,1.7,1.3,2.3,2004
4,Hennepin County,Minnesota,27053,1.7,1.3,2.1,2004
...,...,...,...,...,...,...,...
53395,Portsmouth City,Virginia,51740,5.6,3.9,7.9,2020
53396,Williamsburg County,South Carolina,45089,5.8,4,8.3,2020
53397,Gadsden County,Florida,12039,5.9,4,8.5,2020
53398,Bibb County,Georgia,13021,6.3,4.4,8.6,2020
53399,Rolette County,North Dakota,38079,6.3,4.2,8.9,2020

In [46]:
df_diab_age_20_to_44 = pd.merge(diab_county_absolute_age_20_to_44, diab_county_percentage_age_20_to_44, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_age_20_to_44

,County,State,CountyFIPS,Age_20_to_44 Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age_20_to_44 Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,2.1,1.5,3.0
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,3.3,2.2,4.8
2,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1
3,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,2.3,1.5,3.4
4,Petroleum County,Montana,30069,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1
...,...,...,...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,30512,22614,39753,2020,3.1,2.3,4
53396,Cook County,Illinois,17031,47667,37812,58439,2020,2.6,2,3.2
53397,Maricopa County,Arizona,4013,47905,39049,58373,2020,3,2.5,3.7
53398,Harris County,Texas,48201,58850,43784,75007,2020,3.4,2.5,4.3
53399,Los Angeles County,California,6037,100133,78557,122597,2020,2.7,2.2,3.4

In [47]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Age/45_64' 
diab_county_absolute_age_45_to_64 = merge_csv_files_in_folder(folder_path)

In [48]:
diab_county_absolute_age_45_to_64.rename(columns={'Number':'Age_45_to_64 Absolute','Lower Limit':'Age_45_to_64 Absolute LL',' Upper Limit':'Age_45_to_64 Absolute UL'},inplace=True)
diab_county_absolute_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004
3,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004
...,...,...,...,...,...,...,...
53395,Orange County,California,6059,101375,81338,123371,2020
53396,Maricopa County,Arizona,4013,133527,116612,149180,2020
53397,Cook County,Illinois,17031,153387,131017,175670,2020
53398,Harris County,Texas,48201,162991,135127,195730,2020
53399,Los Angeles County,California,6037,326919,283180,373966,2020

In [49]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Age/45_64' 
diab_county_percentage_age_45_to_64 = merge_csv_files_in_folder(folder_path)

In [50]:
diab_county_percentage_age_45_to_64.rename(columns={'Percentage':'Age_45_to_64 Percentage','Lower Limit':'Age_45_to_64 Percentage LL',' Upper Limit':'Age_20_to_44 Percentage UL'},inplace=True)
diab_county_percentage_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Year
0,Summit County,Utah,49043,5.5,4.0,7.3,2004
1,Santa Fe County,New Mexico,35049,5.7,4.4,7.4,2004
2,San Juan County,Washington,53055,6.1,4.4,7.7,2004
3,Chittenden County,Vermont,50007,6.2,5.0,7.5,2004
4,Boulder County,Colorado,8013,6.4,4.8,8.4,2004
...,...,...,...,...,...,...,...
53395,Bibb County,Georgia,13021,23,17.2,29.4,2020
53396,Gadsden County,Florida,12039,23.4,17.5,30.5,2020
53397,Morgan County,Indiana,18109,23.5,17.4,31.2,2020
53398,Williamsburg County,South Carolina,45089,24.1,18.7,29.9,2020
53399,Rolette County,North Dakota,38079,25.1,18.7,31.4,2020

In [51]:
df_diab_age_45_to_64 = pd.merge(diab_county_absolute_age_45_to_64, diab_county_percentage_age_45_to_64, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_age_45_to_64

,County,State,CountyFIPS,Age_45_to_64 Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age_45_to_64 Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,8.3,5.6,11.6
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,10.8,7.5,14.6
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,8.6,5.9,12.0
3,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004,8.1,5.6,11.8
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004,8.3,5.6,11.8
...,...,...,...,...,...,...,...,...,...,...
53395,Orange County,California,6059,101375,81338,123371,2020,12.1,9.7,14.7
53396,Maricopa County,Arizona,4013,133527,116612,149180,2020,12.2,10.6,13.6
53397,Cook County,Illinois,17031,153387,131017,175670,2020,12.3,10.5,14
53398,Harris County,Texas,48201,162991,135127,195730,2020,14.9,12.4,17.9
53399,Los Angeles County,California,6037,326919,283180,373966,2020,13,11.3,14.9

In [52]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Absolute/Age/65_beyond' 
diab_county_absolute_age_65_to_beyond = merge_csv_files_in_folder(folder_path)

In [53]:
diab_county_absolute_age_65_to_beyond.rename(columns={'Number':'Age_65_to_beyond Absolute','Lower Limit':'Age_65_to_beyond Absolute LL',' Upper Limit':'Age_65_to_beyond Absolute UL'},inplace=True)
diab_county_absolute_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004
1,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004
2,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004
...,...,...,...,...,...,...,...
53395,Orange County,California,6059,98716,79642,119278,2020
53396,Harris County,Texas,48201,122970,102354,143276,2020
53397,Maricopa County,Arizona,4013,135172,122400,148632,2020
53398,Cook County,Illinois,17031,155641,138110,173677,2020
53399,Los Angeles County,California,6037,284737,246372,323138,2020

In [54]:
folder_path = 'C:/Users/nidsp/OneDrive - Illinois Institute of Technology/Desktop/Illinois Institute of Technology Courseworks/RES-MATCH/Diabetes_Percentage/Age/65_beyond' 
diab_county_percentage_age_65_to_beyond = merge_csv_files_in_folder(folder_path)

In [55]:
diab_county_percentage_age_65_to_beyond.rename(columns={'Percentage':'Age_65_to_beyond Percentage','Lower Limit':'Age_65_to_beyond Percentage LL',' Upper Limit':'Age_65_to_beyond Percentage UL'},inplace=True)
diab_county_percentage_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Year
0,Santa Fe County,New Mexico,35049,10.1,7.7,12.7,2004
1,Hennepin County,Minnesota,27053,10.3,8.4,12.4,2004
2,San Juan County,Washington,53055,10.3,7.5,13.5,2004
3,Summit County,Utah,49043,10.4,7.5,13.6,2004
4,Denver County,Colorado,8031,10.6,8.7,12.7,2004
...,...,...,...,...,...,...,...
53395,Rolette County,North Dakota,38079,31.2,23.8,37.7,2020
53396,Todd County,South Dakota,46121,31.8,26.1,38.1,2020
53397,Gadsden County,Florida,12039,32.7,25.2,41.1,2020
53398,Fayette County,West Virginia,54019,33.2,25.9,40.9,2020
53399,Williamsburg County,South Carolina,45089,33.4,26.8,40.7,2020

In [56]:
df_diab_age_65_to_beyond = pd.merge(diab_county_absolute_age_65_to_beyond, diab_county_percentage_age_65_to_beyond, how='inner', on=['State', 'County', 'CountyFIPS', 'Year'])
df_diab_age_65_to_beyond

,County,State,CountyFIPS,Age_65_to_beyond Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age_65_to_beyond Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,14.2,9.9,19.5
1,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,14.4,10.1,19.7
2,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,15.0,10.6,20.3
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004,14.1,9.4,19.3
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004,14.4,9.9,19.4
...,...,...,...,...,...,...,...,...,...,...
53395,Orange County,California,6059,98716,79642,119278,2020,19.8,16,24
53396,Harris County,Texas,48201,122970,102354,143276,2020,23.1,19.2,26.9
53397,Maricopa County,Arizona,4013,135172,122400,148632,2020,18.5,16.8,20.4
53398,Cook County,Illinois,17031,155641,138110,173677,2020,19.6,17.4,21.9
53399,Los Angeles County,California,6037,284737,246372,323138,2020,19.7,17.1,22.4

#### Data Preprocessing

In [57]:
# Finalizing state dataframe by filtering on years from 2000
df_state = df_state[df_state['Year']>=2000]

In [58]:
# Checking for missing rate for states
missing_rate = df_state[df_state['Rate'].isnull()]
missing_rate

Empty DataFrame
Columns: [State, Tax_Type, Year, Rate, Notes_On_Tax_Rate, Rate 2]
Index: []

In [59]:
# Finalizing diabetes county total dataframe
df_diab_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,229478,190979,268887,2020,9.5,7.9,11.2
53514,Maricopa County,Arizona,4013,316605,290564,342004,2020,9.3,8.5,10.1
53515,Harris County,Texas,48201,344811,293038,397767,2020,10.2,8.7,11.8
53516,Cook County,Illinois,17031,356695,319479,393558,2020,9.2,8.2,10.1
53517,Los Angeles County,California,6037,711790,638898,782936,2020,9.4,8.4,10.3

In [61]:
# Checking for No data in diabetes county total
missing_diab_county_total = df_diab_total[(df_diab_total['Total Absolute'] == 'No Data') | (df_diab_total['Total Percentage'] == 'No Data')]
missing_diab_county_total

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data
...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data

In [70]:
# Finalizing diabetes county male dataframe
df_diab_male['Gender'] = 'Male'
df_diab_male.rename(columns={'Male Absolute':'Gender Absolute','Male Percentage':'Gender Percentage'},inplace=True)
df_diab_male

,County,State,CountyFIPS,Gender Absolute,Male Absolute LL,Male Absolute UL,Year,Gender Percentage,Male Percentage LL,Male Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
...,...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,113069,91507,136766,2020,9.6,7.8,11.7,Male
53514,Maricopa County,Arizona,4013,168960,151763,188024,2020,10.2,9.1,11.3,Male
53515,Harris County,Texas,48201,170828,142432,203088,2020,10.3,8.6,12.3,Male
53516,Cook County,Illinois,17031,171199,147904,194026,2020,9.2,7.9,10.4,Male
53517,Los Angeles County,California,6037,362228,315253,413460,2020,9.8,8.5,11.2,Male

In [64]:
# Checking for No data in diabetes county male
missing_diab_county_male = df_diab_male[(df_diab_male['Gender Absolute']=='No Data')|(df_diab_male['Gender Percentage']=='No Data')]
missing_diab_county_male

,County,State,CountyFIPS,Male Absolute,Male Absolute LL,Male Absolute UL,Year,Male Percentage,Male Percentage LL,Male Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male
...,...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,Male

In [71]:
# Finalizing diabetes county female dataframe
df_diab_female['Gender'] = 'Female'
df_diab_female.rename(columns={'Female Absolute':'Gender Absolute','Female Percentage':'Gender Percentage'},inplace=True)
df_diab_female

,County,State,CountyFIPS,Gender Absolute,Female Absolute LL,Female Absolute UL,Year,Gender Percentage,Female Percentage LL,Female Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
...,...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,116409,93048,141063,2020,9.4,7.5,11.4,Female
53514,Maricopa County,Arizona,4013,147645,131312,163748,2020,8.5,7.5,9.4,Female
53515,Harris County,Texas,48201,173983,145362,207103,2020,10.1,8.5,12.1,Female
53516,Cook County,Illinois,17031,185496,162531,209877,2020,9.1,8,10.3,Female
53517,Los Angeles County,California,6037,349562,305372,398271,2020,9,7.8,10.2,Female

In [67]:
# Checking for No data in diabetes county female
missing_diab_county_female = df_diab_female[(df_diab_female['Gender Absolute']=='No Data')|(df_diab_female['Gender Percentage']=='No Data')]
missing_diab_county_female

,County,State,CountyFIPS,Female Absolute,Female Absolute LL,Female Absolute UL,Year,Female Percentage,Female Percentage LL,Female Percentage UL,Gender
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Female
...,...,...,...,...,...,...,...,...,...,...,...
50370,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50371,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50372,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50373,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female
50374,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,Female

In [72]:
#Creating Gender Dataframe
diab_county_gender = pd.concat([df_diab_male,df_diab_female],axis=0)
diab_county_gender

,County,State,CountyFIPS,Gender Absolute,Male Absolute LL,Male Absolute UL,Year,Gender Percentage,Male Percentage LL,Male Percentage UL,Gender,Female Absolute LL,Female Absolute UL,Female Percentage LL,Female Percentage UL
0,Oglala Lakota County,South Dakota,46102,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
1,Wrangell City and Borough,Alaska,2275,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
2,Skagway Municipality,Alaska,2230,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
3,Prince of Wales-Hyder Census Area,Alaska,2198,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
4,Petersburg Borough,Alaska,2195,No Data,No Data,No Data,2004,No Data,No Data,No Data,Male,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53513,Orange County,California,6059,116409,NaN,NaN,2020,9.4,NaN,NaN,Female,93048,141063,7.5,11.4
53514,Maricopa County,Arizona,4013,147645,NaN,NaN,2020,8.5,NaN,NaN,Female,131312,163748,7.5,9.4
53515,Harris County,Texas,48201,173983,NaN,NaN,2020,10.1,NaN,NaN,Female,145362,207103,8.5,12.1
53516,Cook County,Illinois,17031,185496,NaN,NaN,2020,9.1,NaN,NaN,Female,162531,209877,8,10.3
53517,Los Angeles County,California,6037,349562,NaN,NaN,2020,9,NaN,NaN,Female,305372,398271,7.8,10.2

In [74]:
# Finalizing diabetes county age 20 to 44 dataframe
df_diab_age_20_to_44 = df_diab_age_20_to_44.rename(columns={'Age_20_to_44 Absolute':'Age Diabetics Absolute','Age_20_to_44 Percentage':'Age Diabetics Percentage' })
df_diab_age_20_to_44['Age'] = '20-44'
df_diab_age_20_to_44

,County,State,CountyFIPS,Age Diabetics Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Diabetics Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,2.1,1.5,3.0,20-44
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,3.3,2.2,4.8,20-44
2,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1,20-44
3,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,2.3,1.5,3.4,20-44
4,Petroleum County,Montana,30069,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1,20-44
...,...,...,...,...,...,...,...,...,...,...,...
53395,Dallas County,Texas,48113,30512,22614,39753,2020,3.1,2.3,4,20-44
53396,Cook County,Illinois,17031,47667,37812,58439,2020,2.6,2,3.2,20-44
53397,Maricopa County,Arizona,4013,47905,39049,58373,2020,3,2.5,3.7,20-44
53398,Harris County,Texas,48201,58850,43784,75007,2020,3.4,2.5,4.3,20-44
53399,Los Angeles County,California,6037,100133,78557,122597,2020,2.7,2.2,3.4,20-44

In [75]:
# Checking for No data in diabetes county age 20 to 44
missing_df_diab_age_20_to_44 = df_diab_age_20_to_44[(df_diab_age_20_to_44['Age Diabetics Absolute']=='No Data') | (df_diab_age_20_to_44['Age Diabetics Percentage']=='No Data')]
missing_df_diab_age_20_to_44

,County,State,CountyFIPS,Age Diabetics Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Diabetics Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,20-44

In [76]:
# Finalizing diabetes county age 45 to 64 dataframe
df_diab_age_45_to_64 = df_diab_age_45_to_64.rename(columns={'Age_45_to_64 Absolute':'Age Diabetics Absolute','Age_45_to_64 Percentage':'Age Diabetics Percentage' })
df_diab_age_45_to_64['Age'] = '45-64'
df_diab_age_45_to_64

,County,State,CountyFIPS,Age Diabetics Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age Diabetics Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,8.3,5.6,11.6,45-64
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,10.8,7.5,14.6,45-64
2,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,8.6,5.9,12.0,45-64
3,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004,8.1,5.6,11.8,45-64
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004,8.3,5.6,11.8,45-64
...,...,...,...,...,...,...,...,...,...,...,...
53395,Orange County,California,6059,101375,81338,123371,2020,12.1,9.7,14.7,45-64
53396,Maricopa County,Arizona,4013,133527,116612,149180,2020,12.2,10.6,13.6,45-64
53397,Cook County,Illinois,17031,153387,131017,175670,2020,12.3,10.5,14,45-64
53398,Harris County,Texas,48201,162991,135127,195730,2020,14.9,12.4,17.9,45-64
53399,Los Angeles County,California,6037,326919,283180,373966,2020,13,11.3,14.9,45-64

In [77]:
# Checking for No data in diabetes county age 45 to 64
missing_df_diab_age_45_to_64 = df_diab_age_45_to_64[(df_diab_age_45_to_64['Age Diabetics Absolute']=='No Data') | (df_diab_age_45_to_64['Age Diabetics Percentage']=='No Data')]
missing_df_diab_age_45_to_64

,County,State,CountyFIPS,Age Diabetics Absolute,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Year,Age Diabetics Percentage,Age_45_to_64 Percentage LL,Age_20_to_44 Percentage UL,Age
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,45-64

In [78]:
# Finalizing diabetes county age 65 to beyond dataframe
df_diab_age_65_to_beyond = df_diab_age_65_to_beyond.rename(columns={'Age_65_to_beyond Absolute':'Age Diabetics Absolute','Age_65_to_beyond Percentage':'Age Diabetics Percentage' })
df_diab_age_65_to_beyond['Age'] = '65-beyond'
df_diab_age_65_to_beyond

,County,State,CountyFIPS,Age Diabetics Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age Diabetics Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Age
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,14.2,9.9,19.5,65-beyond
1,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,14.4,10.1,19.7,65-beyond
2,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,15.0,10.6,20.3,65-beyond
3,San Juan County,Colorado,8111,Suppressed,Suppressed,Suppressed,2004,14.1,9.4,19.3,65-beyond
4,Kenedy County,Texas,48261,Suppressed,Suppressed,Suppressed,2004,14.4,9.9,19.4,65-beyond
...,...,...,...,...,...,...,...,...,...,...,...
53395,Orange County,California,6059,98716,79642,119278,2020,19.8,16,24,65-beyond
53396,Harris County,Texas,48201,122970,102354,143276,2020,23.1,19.2,26.9,65-beyond
53397,Maricopa County,Arizona,4013,135172,122400,148632,2020,18.5,16.8,20.4,65-beyond
53398,Cook County,Illinois,17031,155641,138110,173677,2020,19.6,17.4,21.9,65-beyond
53399,Los Angeles County,California,6037,284737,246372,323138,2020,19.7,17.1,22.4,65-beyond

In [79]:
# Checking for No data in diabetes county age 65 to beyond
missing_df_diab_age_65_to_beyond = df_diab_age_65_to_beyond[(df_diab_age_65_to_beyond['Age Diabetics Absolute']=='No Data') | (df_diab_age_65_to_beyond['Age Diabetics Percentage']=='No Data')]
missing_df_diab_age_65_to_beyond

,County,State,CountyFIPS,Age Diabetics Absolute,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Year,Age Diabetics Percentage,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Age
15705,Kalawao County,Hawaii,15005,0,0,0,2009,No Data,No Data,No Data,65-beyond
50250,Bedford City,Virginia,51515,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50251,Shannon County,South Dakota,46113,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50252,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50253,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50254,Valdez-Cordova Census Area,Alaska,2261,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50255,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond
50256,Prince of Wales - Outer Ketchikan,Alaska,2201,No Data,No Data,No Data,2020,No Data,No Data,No Data,65-beyond

In [80]:
#Creating Age Dataframe
diab_county_age = pd.concat([df_diab_age_20_to_44,df_diab_age_45_to_64,df_diab_age_65_to_beyond],axis=0)
diab_county_age

,County,State,CountyFIPS,Age Diabetics Absolute,Age_20_to_44 Absolute LL,Age_20_to_44 Absolute UL,Year,Age Diabetics Percentage,Age_20_to_44 Percentage LL,Age_20_to_44 Percentage UL,Age,Age_45_to_64 Absolute LL,Age_45_to_64 Absolute UL,Age_45_to_64 Percentage LL,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL
0,Loving County,Texas,48301,Suppressed,Suppressed,Suppressed,2004,2.1,1.5,3.0,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kalawao County,Hawaii,15005,Suppressed,Suppressed,Suppressed,2004,3.3,2.2,4.8,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arthur County,Nebraska,31005,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,King County,Texas,48269,Suppressed,Suppressed,Suppressed,2004,2.3,1.5,3.4,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Petroleum County,Montana,30069,Suppressed,Suppressed,Suppressed,2004,2.1,1.4,3.1,20-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53395,Orange County,California,6059,98716,NaN,NaN,2020,19.8,NaN,NaN,65-beyond,NaN,NaN,NaN,79642,119278,16,24
53396,Harris County,Texas,48201,122970,NaN,NaN,2020,23.1,NaN,NaN,65-beyond,NaN,NaN,NaN,102354,143276,19.2,26.9
53397,Maricopa County,Arizona,4013,135172,NaN,NaN,2020,18.5,NaN,NaN,65-beyond,NaN,NaN,NaN,122400,148632,16.8,20.4
53398,Cook County,Illinois,17031,155641,NaN,NaN,2020,19.6,NaN,NaN,65-beyond,NaN,NaN,NaN,138110,173677,17.4,21.9
53399,Los Angeles County,California,6037,284737,NaN,NaN,2020,19.7,NaN,NaN,65-beyond,NaN,NaN,NaN,246372,323138,17.1,22.4

In [81]:
# Finalizing Total County Dataframe and then mergining it with state tax data frame
diab_county_data = df_diab_total.merge(diab_county_gender, on=['State','County','CountyFIPS','Year'], how='inner').merge(diab_county_age, on=['State','County','CountyFIPS','Year'], how='inner').sort_values(by=['State','County','CountyFIPS','Year']).reset_index(drop=True)
diab_county_data = diab_county_data.merge(df_state, how = 'inner', on=['State','Year'])
diab_county_data

,County,State,CountyFIPS,Total Absolute,Total Absolute LL,Total Absolute UL,Year,Total Percentage,Total Percentage LL,Total Percentage UL,...,Age_45_to_64 Absolute UL,Age_45_to_64 Percentage LL,Age_65_to_beyond Absolute LL,Age_65_to_beyond Absolute UL,Age_65_to_beyond Percentage LL,Age_65_to_beyond Percentage UL,Tax_Type,Rate,Notes_On_Tax_Rate,Rate 2
0,Autauga County,Alabama,1001,2470,1741,3317,2004,7.5,5.3,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
1,Autauga County,Alabama,1001,2470,1741,3317,2004,7.5,5.3,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,Grocery Tax,0.04,NaN,0.04
2,Autauga County,Alabama,1001,2470,1741,3317,2004,7.5,5.3,10.1,...,1630,7.2,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
3,Autauga County,Alabama,1001,2470,1741,3317,2004,7.5,5.3,10.1,...,1630,7.2,NaN,NaN,NaN,NaN,Grocery Tax,0.04,NaN,0.04
4,Autauga County,Alabama,1001,2470,1741,3317,2004,7.5,5.3,10.1,...,NaN,NaN,575,1095,11.4,21.7,Restaurant Tax,0.04,NaN,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640591,Weston County,Wyoming,56045,461,312,628,2020,8.8,5.9,11.9,...,NaN,NaN,NaN,NaN,NaN,NaN,Grocery Tax,0.00,NaN,0.00
640592,Weston County,Wyoming,56045,461,312,628,2020,8.8,5.9,11.9,...,263,6.1,NaN,NaN,NaN,NaN,Restaurant Tax,0.04,NaN,0.04
640593,Weston County,Wyoming,56045,461,312,628,2020,8.8,5.9,11.9,...,263,6.1,NaN,NaN,NaN,NaN,Grocery Tax,0.00,NaN,0.00
640594,Weston County,Wyoming,56045,461,312,628,2020,8.8,5.9,11.9,...,NaN,NaN,159,317,10.5,20.9,Restaurant Tax,0.04,NaN,0.04
640595,Weston County,Wyoming,56045,461,312,628,2020,8.8,5.9,11.9,...,NaN,NaN,159,317,10.5,20.9,Grocery Tax,0.00,NaN,0.00

In [82]:
diab_county_data.to_excel('Diab_County_Data_New.xlsx',index=False)